<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Войти в аккаунт</title>
</head>
<body>
<form action="/" method="post">
    <input type="text" name="first_name" placeholder="Введите имя"><br>
  <br>
    <input type="text" name="last_name" placeholder="введите фамилию"><br>
  <br>
    <input type="email" name="email" placeholder="введите email"><br>
  <br>
     <input type="password" name="password" placeholder="введите пароль"><br>
    <input type="submit" value="Зарегистрироваться">
</form>
</body>
</html>